; GIT config by Olivier Roques
; github.com/ojroques

[user]
    useConfigOnly = true
    name = Olivier Roques
    ; To complete
    email =

[core]
    editor = nvim
    ; Uncomment if diff-so-fancy is installed
    ; pager = diff-so-fancy | less --tabs=4 -RFX

[alias]
    st = status
    br = branch
    co = checkout
    cm = commit
    pr = pull --rebase
    ls = ls-tree --full-tree --name-only -r HEAD
    diffc = diff --cached
    stats = diff --compact-summary
    freset = checkout --
    hreset = reset --hard
    unstage = reset HEAD --
    info = show --format='%C(bold yellow)COMMIT%Creset %C(yellow)%H%Cred%d%n%C(bold blue)AUTHOR%Creset %Cblue%an <%ae>%n%C(bold green)DATE%Creset   %Cgreen%ai (%ar)%Creset%n%n%s%n%n%b'
    tree = log --graph --format='%C(yellow)%h%Cred%d %Creset%s %Cgreen(%ar) %Cblue%an%Creset' --abbrev-commit --all

[merge]
    tool = vimdiff

[color]
    ui = true

[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22

[color "diff"]
    meta = 11
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
