; git config
; github.com/ojroques

[user]
  useConfigOnly = true
  name = Olivier Roques
  ; email =

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  line-numbers = true

[alias]
  a = add
  cm = commit
  cma = commit --amend
  co = checkout
  d = diff
  dc = diff --cached
  ds = diff --compact-summary
  i = show --format='%C(bold yellow)COMMIT%Creset %C(yellow)%H%Cred%d%n%C(bold blue)AUTHOR%Creset %Cblue%an <%ae>%n%C(bold green)DATE%Creset   %Cgreen%ai (%ar)%Creset%n%n%s%n%n%b'
  ls = ls-tree --full-tree --name-only -r HEAD
  rb = rebase
  rs = reset
  s = status
  t = log --graph --format='%C(yellow)%h%Cred%d %Creset%s %Cgreen(%ar) %Cblue%an%Creset' --abbrev-commit --all
  ua = restore --staged

[fetch]
  prune = true

[pull]
  rebase = true

[merge]
  tool = vimdiff
