#!/bin/bash

# System
alias grep='grep --color=auto'
alias ll='ls -lAh'
alias ls='ls -F --color=auto --group-directories-first'
alias lt='tree $(pwd)'
alias mkd='mkdir -pv'
alias psa='ps -e -o pid,euser,pcpu,pmem,command'
alias pwo='poweroff'
alias rm='rm --preserve-root -I'
alias tree='tree -F -C --dirsfirst'

# Development
alias lmc='latexmk -C'
alias py='python3'
alias vimrc='vim ~/.vimrc'
# Uncomment if using neovim
# alias vim='nvim'

# Network
alias ip='ip -c -h'
alias ipa='ip -br address'
alias ipl='ip -br link'
alias ssp='ss -lnprtuw'

# Memory and Storage
alias df='df -Th --total'
alias du='du -ch'
alias dua='du -a --max-depth=1 | sort -h'
alias free='free -ht'

# Shortcuts
alias dl='cd ~/Downloads && ls'
alias doc='cd ~/Documents && ls'
