#!/bin/bash

# Update and upgrade packages
apt-update() {
    sudo apt -y update
    sudo apt -y upgrade
}

# Clean packages
apt-clean() {
    sudo apt -y autoremove --purge
    sudo apt-get -y autoclean
    sudo apt-get -y clean
}

# List intentionally installed packages
apt-list() {
    (zcat "$(ls -tr /var/log/apt/history.log*.gz)"; cat /var/log/apt/history.log) 2> /dev/null |
    grep -E '^Commandline' |
    sed -e 's/Commandline: \(.*\)/\1/' |
    grep -E -v '^/usr/bin/unattended-upgrade$'
}

# Delete swap files
rm-swap() {
    rm -fv "$PWD"/*.swp
    rm -fv "$HOME"/.local/share/nvim/swap/*.swp
}

# Go back up N directories
up() {
    if [[ $# -eq 0 ]]; then
        cd "../"
    elif [[ $# -eq 1 ]] && [[ $1 -gt 0 ]]; then
        local up_dir=""
        for _ in $(seq 1 "$1"); do
            up_dir+="../"
        done
        cd "$up_dir" || exit 1
    else
        echo "Usage: up [n]"
    fi
}

# Print command cheatsheet
cheat() {
    curl -s "cheat.sh/$1"
}

# Browse git commits
glog() {
    local log_fmt="%C(yellow)%h%Cred%d %Creset%s %Cgreen(%ar)%Creset"
    local commit_hash="echo {} | grep -o '[a-f0-9]\{7\}' | head -1"
    local view_commit="$commit_hash | xargs -I hash sh -c \"git info --color=always hash | diff-so-fancy\""

    git log --color=always --format="$log_fmt" --abbrev-commit "$@" | \
    fzf --no-sort --tiebreak=index --no-multi --reverse --ansi \
        --header="enter to view, alt-y to copy hash" --preview="$view_commit" \
        --bind="enter:execute:$view_commit | less -R" \
        --bind="alt-y:execute:$commit_hash | xclip -selection clipboard"
}

# Get current status of a git repository
function parse_git_status {
    status=$(git status 2> /dev/null)
    local bits=""

    if [[ "$status" == *"Unmerged paths"* ]]; then
        bits="!$bits"
    fi
    if [[ "$status" == *"Untracked files"* ]]; then
        bits="?$bits"
    fi
    if [[ "$status" == *"Changes not staged for commit"* ]]; then
        bits="~$bits"
    fi
    if [[ "$status" == *"Changes to be committed"* ]]; then
        bits="=$bits"
    fi
    if [[ "$status" == *"Your branch is behind"* ]]; then
        bits="<$bits"
    fi
    if [[ "$status" == *"Your branch is ahead"* ]]; then
        bits=">$bits"
    fi

    if [[ -n "$bits" ]]; then
        echo " $bits"
    else
        echo ""
    fi
}

# Get branch and status of a git repository
function parse_git() {
    br=$(git branch --show-current 2> /dev/null)
    st=""

    if [[ -n "$br" ]]; then
        if [[ $1 == "status" ]]; then
            st=$(parse_git_status)
        fi
        echo " [$br$st]"
    else
        echo ""
    fi
}
