#!/bin/bash

# Update and Upgrade Debian packages
apt-update() {
    sudo apt -y update
    sudo apt -y upgrade
}

# Clean Debian packages
apt-clean() {
    sudo apt-get -y clean
    sudo apt-get -y autoclean
    sudo apt -y autoremove
}

# List intentionally installed packages
apt-list() {
    (zcat $(ls -tr /var/log/apt/history.log*.gz); cat /var/log/apt/history.log) 2> /dev/null |
    grep -E '^Commandline' |
    sed -e 's/Commandline: \(.*\)/\1/'
}

# Delete swap files
rm-swap() {
    rm -fv $PWD/*.swp
    rm -fv $HOME/.local/share/nvim/swap/*.swp
}

# Go back up N directories
up() {
    if [[ $# -eq 0 ]]; then
        cd "../"
    elif [[ $# -eq 1 ]] && [[ $1 -gt 0 ]]; then
        local up_dir=""
        for i in `seq 1 $1`; do
            up_dir+="../"
        done
        cd "$up_dir"
    else
        echo "Usage: up [n]"
    fi
}

# Print command cheatsheet
tldr() {
    curl -s "cheat.sh/$1"
}

# Display weather
weather() {
    if [[ $# -le 1 ]]; then
        curl wttr.in/$1?m
    else
        echo "Usage: weather [location]"
    fi
}

# Browse git commits
glog() {
    local show_fmt="'%C(bold yellow)COMMIT%Creset %C(yellow)%H%Cred%d%n%C(bold blue)AUTHOR%Creset %Cblue%an <%ae>%n%C(bold green)DATE%Creset   %Cgreen%ai (%ar)%Creset%n%n%s%n%n%b'"
    local log_fmt="'%C(yellow)%h%Cred%d %Creset%s %Cblue%an%Creset'"
    local commit_hash="echo {} | grep -o '[a-f0-9]\{7\}' | head -1"
    local view_commit="$commit_hash | xargs -I hash sh -c \"git show --color=always --format="$show_fmt" hash | diff-so-fancy\""

    git log --color=always --format="$log_fmt" --abbrev-commit "$@" | \
    fzf --no-sort --tiebreak=index --no-multi --reverse --ansi \
        --header="enter to view, alt-y to copy hash" --preview="$view_commit" \
        --bind="enter:execute:$view_commit | less -R" \
        --bind="alt-y:execute:$commit_hash | xclip -selection clipboard"
}
